<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.nuerp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/erp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/erp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Activity.home" />
        <activity
            android:name=".Activity.mainErp"
            android:label="ERP"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" />
        <activity android:name=".dbHelper" />
        <activity android:name=".AdminActivity.addFrag" />
        <activity android:name=".Activity.student_login" />
        <activity android:name=".AdminActivity.adminHome" />
        <activity android:name=".AdminActivity.addOpt" />
        <activity android:name=".AdminActivity.add_course"></activity>
    </application>

</manifest>